.selected-region {
  width: 75px;
  border-radius: 0;
}

.region-list {
  box-shadow: 0px 2px 6px 0 rgba(200, 200, 200, 0.6);
  display: none;
  left: 0;
  position: absolute;
  top: 38px;
  width: 75px;
  z-index: 20;
}

.region-dropdown {
  position: relative;
  display: inline-block;
}

.region-button {
  border: 1px solid #414951;
}

.active-region {
  background-color: #414951;
}

.search-history-list {
  position: absolute;
  z-index: 10;
  width: 65%;
  left: 0;
}

.search-history-item {
  display: flex;
  flex-direction: row;
  padding: .25rem .5rem;

  .prefix-icon {
    flex: 2;
  }

  .search-text {
    flex: 8;
  }
}

.search-group {
  position: relative;
  width: 40%;
}