@import 'playerList';
@import 'search';
@import 'teamList';

.intro-text {
  font-style: italic;
  margin: auto;
  width: 55%;
  line-height: 2.5;
}

.input-group-append .btn+.btn, .input-group-append .btn+.input-group-text, .input-group-append .input-group-text+.btn, .input-group-append .input-group-text+.input-group-text, .input-group-prepend .btn+.btn, .input-group-prepend .btn+.input-group-text, .input-group-prepend .input-group-text+.btn, .input-group-prepend .input-group-text+.input-group-text {
  margin: 0;
}

.show {
  display: block;
}

.card-body {
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  margin: 0 5%;
  max-width: 1400px;

  @media (min-width: 1540px) {
    margin: 0 auto;
  }
  
  .players-list {
    flex: 5;
    margin: 0 10px;
  }

  .teams-list {
    flex: 7;
    margin: 0 10px;
  }
}

.banners {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  .banner-text {
    position: absolute;
  }
}

.navbar {
  padding: 0 16px;
}